/* General Style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(
        to bottom,
        #019488 20%,
        #DBDAD5 20%
    );
}

.content {
    display: flex;
    height: 90%;
    width: 75%;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

i {
    color: gray;
}
/* Start square-left */

.square-left {
    height: 100%;
    width: 35%;
    background-color: #EAEAEA;
}

.top-bar-left,
.top-bar-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
}

.my-avatar,
.avatar {
    display: flex;
    align-items: center;
    padding: .5rem 0 .5rem .5rem;
}

.name-avatar {
    padding-left: .7rem;
}

.icon-top-bar {
    padding: .5rem;
}

.icon-top-bar i {
    padding-inline: .4rem;
}

.bar-settings {
    display: flex;
    align-items: center;
    background-color: #8EDAFC;
    padding-top: .7rem;
    padding-bottom: .7rem;
    padding-inline: .5rem;
    height: 15%;
}

.bar-settings i {
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 18px;
    background-color: white;
}

.text-settings {
    padding-left: .5rem;
}

.text-settings a{
    font-size: .8rem;
}

.search {
    height: 5%;
}

.over {
    height: 70%;
    overflow-y: scroll;
}


.text-last-message {
    font-size: .7rem;
    color: gray;
}

.hours {
    align-self: flex-start;
    font-size: .6rem;
    flex: 1 0 auto;
    text-align: end;
    padding-right: .3rem;
    color: gray;
}


/* Start square-right */

.square-right {
    height: 100%;
    width: 65%;
}

.top-bar-right {
    border-left: 1px solid lightgray;
    background-color: #EAEAEA;
}

.content-right-square {
    display: flex;
    flex-direction: column;
    height: 80%;
    gap: 1rem;
    padding: 2rem 3rem;
    overflow-y: scroll;
    background-image: url(../img/mine.jpg);
}

.content-right-square .message {
    max-width: 60%;
    border-radius: 10px;
}

.content-right-square .sent {
    align-self: flex-end;
    background-color: #D5F9BA;
}

.content-right-square .text {
    padding: 1em;
    padding-bottom: 0;
}

.content-right-square .received {
    align-self: flex-start;
    background-color: #EAEAEA;
}

.content-right-square .date {
    text-align: end;
    padding: .3em;
    font-size: .6rem;
}

.navbar {
    height: 10%;
}

form {
    width: 80%;
}